body{
	background:#fff;
	font-family:rubik,arial,sans-serif;
	font-weight:300;
	font-size:16px;
	line-height:2;
	color:gray
}
h1,h2,h3,h4,h5{
	font-weight: 300!important;
	font-family:rubik,arial,sans-serif;

}
header{
	background-color:#fff;
	height: 70px;
}


.cs{

	margin: 0;
	max-width: 100%;

}
.right{
	text-align: left;
	margin-left:auto; 
}
header h3{
	margin-left: 50px;
	margin-right: 80px;
}
header nav{
	padding-left: 327px;
}

header h3,nav {
	line-height: 70px;


}
.a
{
	color: #000;
	margin-left: 10px;
	font-size: 17px;
}

.img{
	background-image: url(../img/big.png);
	background-size: 100%;
	background-repeat: no-repeat;
 	width: 100%;
 	height: 700px;
 	color: #fff;
 	margin-bottom: 100px;
	

}
.cap{
	text-transform: capitalize;
	font-size: 40px; 
	padding-top:200px; 
}
.whback{
	background-color: #fff;
	color: #ddd;
	font-size: 25px;

}
span{
	color: #000;
}
.search{
	background-color: #fff;
	height: 80px;
	width: 70%;
	line-height: 75px;
	margin-bottom:50px; 

}
.por{
	margin:0 30px;
	border-color: #000;
}
.por a {
	color: gray;
}
.py-3{
	background-color: #06f;

}
.dd{
	/*width: 300px;*/
	height: 300px; 
	padding-right: 10px;
	font-family: rubik,arial,sans-serif;
}
h1,h2{
	color: #11cbd7;
	font-size: 45px; 
    margin: 0 0 30px 0;
    padding: 0;
    color: #11cbd7;
    /*font-size: 47px;*/

}
.h2{
	width: 300px;
	height: 101px;
	font-size: 47px;
	padding-bottom: 150px;
}
div .mb-5{
	width: 450px;
   /* font-weight: 300;
    font-size: 16px;
    line-height: 2;
    color: gray;*/
}
.s3{
	margin-top: 100px;
}

h3{
	font-size: 20px;
}
.prag{
	color: gray;
}
.s4{
	background-color: #f8f9fa;
	padding:30px;

}

.do .row{
	margin-left: 0;
	margin: 0;
	margin-bottom:0;
}
.txt {
	line-height: 1.2;
    margin-left: 5px;
    margin-bottom: 30px;
}
strong{
	color:#11cbd7;
	font-size: 30px;
}
span{
	color: gray;
	text-transform: uppercase;
	font-size: 20px;

}
 .conS4{
  margin-top: 200px; }
 .conS4 div p{
 	color: gray;

 }
/* .container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}*/
.img_pop{
	width: 400px;
	height: 300px;
	margin-bottom: 40px;
}
.fig{
	background-color: #fff;
	width: 300px;
	margin-left: 40px;
}
.fig img
{
	width: 100%;
	height: 300px
}
.fig a{
	color: gray;
	font-size: 17px;
	font-weight: 500;
	padding: 20px;
	text-decoration-line: none;

}
.fig a:hover{
	color: #00f;

}
.fig p{
	font-size: 12px;
	line-height: 2;
	/*margin-left: 20px;*/
	padding: 20px;

}
.mb-5
{
	margin-bottom: 6rem !important;
}
.enl{
	margin-top: 150px;
	margin-bottom: 50px;
}
.free{
	margin-left: 60px;
	font-size: 12px;
	color: gray;
}

.free span,.number {
	font-size: 12px;
	padding-left: 20px;
}
.bag{
	width: 330px;
	height: 450px;
	background-color:#00FF71;
	margin: 15px 15px 15px 30px;

}
.pt-5{
	padding-top: 9rem !important;
}
.admin{
	width: 500px;

}
.admin a{
	color:#000;
	font-size: 20px;
}
.admin img {
	width: 500px;
}
.img_tet{
	width: 150px;
	height: 150px;
}
.par-tet
{
	width: 150px
}
.wiP{
	width: 450px
}